html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    margin: 0;
    }
.pic {
    width: 200px;
    height: 100%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    
}
.wrapper {
    width: 100%;
    height: 100%;
    max-width: 1920px; 
    margin: auto;
    text-align: center;
     
}
.accordeon {
    position: relative;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;

}
.line {
    display: flex;
    justify-content: space-around;
}
.line_close {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.step_input{
    appearance: none;
    -webkit-appearance: none;
    
    position: absolute;

    width: 0;
    height: 0;

}
.step_title {
    color: black;
    display: block;
    cursor: pointer;
    position: relative;
    
}
.step_title h2:hover{
    color: blue;
}
.step_input:checked ~ .step_picone , .step_input:hover ~ .step_picone {
    max-height: 800px;
}

.step_picone {
    max-height: 0;
    transition: max-height 0.7s linear;
    overflow-y: hidden;
    
}
.step_input:checked ~ .step_title::after {
    border-style: solid;
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent #000000 transparent;
    line-height: 0px;
}
.step_title:after {
    content: "";
    display: block;

    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
    line-height: 0px;

    position: absolute;
    top: 50%;
    right: 10px;
}
